.sign-up-button {
  background-color: #480249; /* Maroon color */
  color: #fff8dc; /* Cornsilk color */
  border: none;
  border-radius: 20px; /* Adjust as needed for the desired curvature */
  padding: 20px 20px; /* Adjust padding as needed */
  font-size: 16px; /* Adjust font size as needed */
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: none; /* Remove focus outline */
}

.sign-up-button:hover {
  background-color: #6b4554; /* Slightly darker maroon color on hover */
}
