.navbar {
  background: #F6D46B !important;
  position: relative;
  box-shadow: none !important;
  width: 100%;
}

.nav-link {
  color: #480249; 
  font-family: "HK Grotesk", sans-serif;
  float: left; 
  display: block; 
  text-align: center; 
  padding: 14px 5px; 
  text-decoration: none; 
  font-size: 20px;
  padding: 10px 10px;
  margin: 5px;
  font-weight: bold;
  border-radius: 20px;
}

.profile-btn:hover {
background-color: #8d168f;
}
.main-logo {
  width: 150px;
  height: 150px;
}
.nav-link.active {
  border-radius: 15px;
  background-color: #fff;
}
.logo-signup {
  height: 80px;
}
.navbar a:hover {
  color: black; 
}

.navbar a.active {
  background-color: transparent; 
  color: #480249 !important;
  border: 2px solid #480249;
}

.section {
  height: 100vh;
}
.dropdown {
  z-index: 1000 !important;
  width: "200px";
  position: absolute;
  top: 110px;
  right: 50px;
  padding: 20px;
  background-color: #480249;
  color: 'white';
}
/* Animation when a section comes into view */
@keyframes popUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Add this class to elements you want to animate on scroll */
.animated {
  animation: popUp 1s ease-out;
}

.mainLogin:hover {
  animation: pulse 1s infinite;
  cursor: pointer;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .dropdown {
  position: absolute;
  top: 300px;
  right: 40px;
  padding: 20px;
  background-color: #480249;
  color: 'white';
  }
}

