.blog-container-hero {
  background-color: #f6d46b;
}

.regular-search-container {
  background-color: #fff7d8;
}

.choose-category-container {
  max-width: 300px;
}

.topic-card .topic-heading {
  font-family: "Dancing Script", cursive;
}
.topic-heading {
  font-family: "Dancing Script", cursive;
}

.move-and-mouse-color {
  color: #545454 !important;
}
.backgroundblogreadmore {
  width: 101%;
  height: 400px;
  background-image: url('../../img/icons/blogcatalogue.svg'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 768px) {
  .backgroundblogreadmore {
    height: 300px;
    background-position: top; 
  }
}

@media (max-width: 480px) {
  .backgroundblogreadmore {
    height: fit-content; 
    background-position: top center; 
  }
}


