.blog-container-hero {
  background-color: #f6d46b;
}

.regular-search-container {
  background-color: #fff7d8;
}

.choose-category-container {
  max-width: 300px;
}

.topic-card .topic-heading {
  font-family: "Dancing Script", cursive;
}
.topic-heading {
  font-family: "Dancing Script", cursive;
}
.titleofblogg{
  font-size: 30px;
}
.move-and-mouse-color {
  color: #545454 !important;
}
.topicreadmoremain {
  width: 100%;
  height: auto;
}
.backgroundblogreadmore {
  background-image: url("../../img/icons/topic-bg.png");
  margin-bottom: 20px;
  mix-blend-mode: multiply;
  width: 96%;
  background-size: cover;
  background-position: center bottom;
  height: 400px;
  padding: 20px;
  background-color: transparent;
  background-repeat: no-repeat;
}
.textmainn{
  width: 32%;
  display: flex;
  margin: auto;
  margin-top: 20px;
}
.Musingtexttitle {
  font-family: "Dancing Script", cursive;
  
}

.fontsizeoftitle{
  font-size: 50px;

}
.fontsizeofauthor{
  font-size: 40px;
  font-weight: bold;
}
.hashtagsss{
  font-size: 28px !important;
  font-weight: bold;
}


@media (max-width: 768px) {
  .backgroundblogreadmore {
    height: auto;
    background-position: top;

  }
  .textmainn{
    width: 100%;
    display: block;
    margin: auto;
    margin-top: 30px;

  }
}

@media (max-width: 480px) {
  .backgroundblogreadmore {
    height: fit-content;
    background-position: top center;
  }
  .textmainn{
    width: 100%;
    display: block;
    margin: auto;
    margin-top: 30px;

  }
}
@media (max-width: 600px) {
  .topicreadmoremain {
    height: auto; /* Adjust height for mobile screens */
  }

  .backgroundblogreadmore {
    width: 100%; 
    height: auto; 
    padding: 10px; 
    background-size: cover; 
  }
  
}
@media (max-width: 1012px) {
  .topicreadmoremain {
    height: auto; 
  }

  
}