.main-bg{
    background-color: #FFF7D8;
}
.flageuserimdarrow{
    padding-left: 100px;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
    .flageuserimdarrow{
        padding-left: 0px;
    }  
}