
.signup_form{
  background: #F6D46B !important;
  padding: 20px;
  height: 75vh;
}
.sign-up-form {
  max-width: 400px;
  margin: 0px auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.sign-up-form input,
.sign-up-form button {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc; /* Light grey border */
  font-size: 1rem;
}

.sign-up-form button {
  background-color: #7d5260; /* Dark maroon color */
  color: #fff8dc; /* Light cream color */
  cursor: pointer;
  border: none;
  transition: background-color 0.2s;
}

.sign-up-form button:hover {
  background-color: #6b4554; /* Slightly darker maroon color */
}

/* Optional: Add styles for input focus */
.sign-up-form input:focus {
  border-color: #7d5260; /* Dark maroon to match the button */
  outline: none; /* Removes the default focus outline */
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* Optional: Responsive adjustments */
@media (max-width: 600px) {
  .sign-up-form {
    padding: 1rem;
  }

  .sign-up-form input,
  .sign-up-form button {
    padding: 0.75rem;
  }
}
