.cedarville-cursive-regular {
    font-family: "Cedarville Cursive", serif;
    font-style: normal;
    font-size: 24px;
  }
  .fontFamily{
    font-family: "Dancing Script", cursive;
    font-size: 24px;
  }
  .textttt{
    font-family: "Dancing Script", cursive;
    
  }
  