.Mussing_List li {
  list-style: none;
  text-align: justify;
}
.imgesss {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.socialiamge {
  width: 50%;
}
.main_misguide {
  display: block;
  width: 90%;
  margin: auto;
  margin-top: 30px;
}
.Title_input {
  margin-top: 10px;
  background-color: transparent;
  outline: none;
  border: none;
  padding: "10px 0px";
  font-size: 40px;
  width: 100%;
  font-family: "Dancing Script", cursive;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .imgesss {
    display: block;
    justify-content: start;
    align-items: start;
  }
  .Title_input {
    font-size: 30px;
  }
  .main_misguide {
    display: block;
    width: 100%;
    margin: auto;
  }
  .socialiamge {
    width: 100%;
  }
}
.button-3d {
  background-color: #ffffff;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 4px #999;
  transition: all 0.3s ease;
}
.button-3d:active {
  background-color: lightgray;
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}
