.Mussing_List li {
  list-style: none;
  text-align: justify;
}

.imgesss {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socialiamge {
  width: 50%;
}
.titleanddatemain{
  position: relative;
}
.tags-section{
  position: absolute;
  bottom: -6%;
}
.Musingtext {
  font-family: "Dancing Script", cursive;
}

.hashtahmain {
  margin-left: 50%;
}

.autor {
  margin-right: 210px;
}

.main_misguide {
  display: block;
  width: 20%;
  margin: auto;
  margin-top: 30px;
}

.Title_input {
  margin-top: 10px;
  background-color: transparent;
  outline: none;
  border: none;
  padding: 10px 0;
  font-size: 40px;
  width: 20%;
  font-family: "Dancing Script", cursive;
  border: 2px solid greenyellow;
}

.musingparagraph {
  width: 90%;
  text-align: justify;
}

.main_misguide {
  font-family: Arial, sans-serif;
}

.input_topic {
  width: 20%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.dropdown-menu {
  position: absolute;
  left: 7%;
  right: 0;
  z-index: 1000;
  display: block;
  float: left;
  min-width: 160px;
  width: 200px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  color: #333;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  max-height: 150px;
  overflow-y: auto;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  color: #333;
  text-align: inherit;
  white-space: nowrap;
  background: none;
  border: 0;
}

.dropdown-item:hover {
  background-color: #f8f9fa;
  cursor: pointer;
}

.arrow-next {
  margin-left: 10px;
  transition: transform 0.3s ease;
}

.arrow-next.open {
  transform: translateY(120px);
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cedarville-cursive-regular {
  font-family: "Cedarville Cursive", serif;
  font-weight: 400;
  font-style: normal;
}

.moveandmusetextmain {
  width: 800px;
  position: relative;
}

.moveandmusetextchild {
  font-size: 40px;
  width: 300px;
  position: absolute;
  left: 50%;
}

span {
  font-size: 41px !important;
}

.nsm7Bb-HzV7m-LgbsSe-BPrWId {
  font-size: unset !important;
  font-size: 20px;
}

.firsttwoinputsmain {
  display: flex;
  gap: 20px;
  background-color: #fff7d8;
  padding: 10px;
  border-radius: 25px;
  justify-content: space-between;
  width: 100%;
}

.childinput {
  outline: none;
  border: 2px solid gray;
  padding-top: 5px;
  border-radius: 10px;
  width: 140px;
  text-align: center;
}

.searchfotopicinputmain {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: end;
}

.searfotopicinout {
  outline: none;
  border: 2px solid gray;
  padding-top: 5px;
  border-radius: 10px;
}

.textareamsg {
  min-height: 150px;
  background: transparent;
  outline: none;
  width: 90%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .imgesss {
    display: block;
    justify-content: start;
    align-items: start;
  }

  .Title_input {
    font-size: 30px;
    width: 100%;
  }
  .button{
    top: 0;
  }
  .titleanddatemain{
    position: static;
  }
  .tags-section{
    position: static;
    margin-bottom: 40px;
  }
  .main_misguide {
    display: block;
    width: 100%;
  }

  .socialiamge {
    width: 100%;
  }

  .buttons {
    width: 100%;
    margin-left: 0;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
  }

  .moveandmusetextmain {
    width: 100%;
  }

  span {
    font-size: 21px !important;
    padding: 10px;
  }

  .firsttwoinputsmain {
    padding: 10px;
    border-radius: 25px;
    width: 100%;
    overflow-x: hidden;
  }

  .hashtahmain {
    margin-left: 0;
    width: 100%;
  }

  .autor {
    margin-right: 357px !important;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .childinput {
    outline: none;
    border: 2px solid gray;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }

  .textareamsg {
    width: 100%;
    padding: 10px;
  }

  .searchfotopicinputmain {
    width: 100%;
    align-items: center;
    margin-top: 10px;
  }

  .searfotopicinout {
    width: 100%;
    padding: 10px;
  }
}

.button-3d {
  background-color: #ffffff;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 4px #999;
  transition: all 0.3s ease;
}

.button-3d:active {
  background-color: lightgray;
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}
