.Mussing_List li {
  list-style: none;
  text-align: justify;
}
.imgesss {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.socialiamge {
  width: 50%;
}
.main_misguide {
  display: block;
  width: 20%;
  margin: auto;
  margin-top: 30px;
}
.Title_input {
  margin-top: 10px;
  background-color: transparent;
  outline: none;
  border: none;
  padding: "10px 0px";
  font-size: 40px;
  width: 20%;
  font-family: "Dancing Script", cursive;
  border: 2px solid greenyellow;
}

.main_misguide {
  font-family: Arial, sans-serif;
}

.input_topic {
  width: 20%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.dropdown-menu {
  position: absolute;
  top: 99%;
  left: 13%;
  right: 0;
  z-index: 1000;
  display: block;
  float: left;
  min-width: 160px;
  width: 200px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  color: #333;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  max-height: 150px; 
  overflow-y: auto; 
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  color: #333;
  text-align: inherit;
  white-space: nowrap;
  background: none;
  border: 0;
}

.dropdown-item:hover {
  background-color: #f8f9fa;
  cursor: pointer;
}

.arrow-next {
  margin-left: 10px;
  transition: transform 0.3s ease; 
}

.arrow-next.open {
  transform: translateY(120px); 
}
.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .imgesss {
    display: block;
    justify-content: start;
    align-items: start;
  }
  .Title_input {
    font-size: 30px;
  }
  .main_misguide {
    display: block;
    width: 100%;
    margin: auto;
  }
  .socialiamge {
    width: 100%;
  }
  .buttons{
    width: 200px;
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    
  }
}
.button-3d {
  background-color: #ffffff;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 4px #999;
  transition: all 0.3s ease;
}
.button-3d:active {
  background-color: lightgray;
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}
