.card_Div_Fav {
  border-radius: 10px;
  cursor: pointer;
  box-shadow: inset;
  background-color: #ffd1dc !important;
  align-items: center;
  padding: 20px;
}
.card-content {
  line-height: 10px;
  width: 100%;
}
.eventtitlediv {
  display: flex;
  justify-content: center;
  width: 100% !important;
  align-items: center;
  text-align: center;
}
.mainofheart{
  position: relative;
}
.blogheart{
  width: 70px;
  display: flex;
  justify-content: end !important;
  position: absolute;
  right: 10px;
  top: 0;
  
}

.blogheartfuturecard{
 
  width: 70px;
 
}
/* .card_Div:hover {
  transform: translate(-5px);
 
} */
.cards-text {
  color: rgb(180, 177, 177);
}
.imag-wrapper {
  border-radius: 20px;
  background-color: rgba(235, 187, 83, 0.884);
  width: auto;
  padding: 5px;
  margin: 0;
  width: 190px;
  height: 190px;
}
.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.sub {
  color: rgb(43, 37, 44) !important;
  font-size: medium !important;
}
@media (min-width: 1025px) {
  .eventtitlediv {
    text-align: center !important;
  }

  .eventtitlediv h5 {
    display: inline-block;
    text-align: center !important;
  }
}



@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
  .card_Div_Fav {
    margin-top: 10px;
    padding: 20px;
  }
  .card-image {
    width: auto;
    height: auto;
  }
  .linesofCards {
    width: fit-content !important;
    display: flex;
    align-items: center;
    gap: 0px;
    margin: 0px;
  }
  .eventtitlediv {
    margin-bottom: 0; /* Remove space below title */
  }
  .card-content {
    line-height: 0; /* Restore readable line height */
  }
}

@media only screen and (max-width: 808px) {
  .card_Div_Fav {
    margin-top: 10px;
    padding: 15px;
    flex-direction: column;
    align-items: center;
  }

  .imag-wrapper {
    width: 150px;
    height: 150px;
  }

  .card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .card-content {
    line-height: 1.2;
    text-align: center;
  }

  .eventtitlediv {
    margin-bottom: 5px;
  }
}
@media only screen and (min-width: 809px) and (max-width: 1024px) {
  .card_Div_Fav {
    margin-top: 10px;
    padding: 15px;
  }

  .imag-wrapper {
    width: 150px;
    height: 150px;
  }

  .card-content {
    line-height: 1.2;
    text-align: center;
  }
}
.image_div{
  top: -30px;
  right: -30px;
}